body{background-color:#ecf0f1;margin:0%;padding:0px}body header{background-color:#ecf0f1;margin:0px;padding:0px;width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-content:center;-ms-flex-line-pack:center;align-content:center;position:-webkit-sticky;position:sticky;z-index:1000;top:0}body header .Title{width:35%;height:100px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}body header .Title h1{width:100%;font:50px "Mouse Memoirs",sans-serif;margin:auto}body header .Title h1 a{margin:0px 0px 0px 50px;font:50px "Mouse Memoirs",sans-serif;text-decoration:none}body header .Title h1 a .a{color:#f5bd17}body header .Title h1 a .b{color:#bb2115}body header .Title h1 a .c{color:#5b70b0}body header .Title h1 a .d{color:#271639}body header .Title h1 a .e{color:#4ea882}body header nav{width:74%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:100px;-webkit-box-pack:right;-webkit-justify-content:right;-ms-flex-pack:right;justify-content:right;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}body header nav a{margin:10px;font-weight:1800;font:16px "Righteous",cursive;text-decoration:none;color:#000}body header nav a:hover{color:#271639;-webkit-transition:.5;-o-transition:.5;transition:.5}body header nav div{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:150px;height:100px;background-color:#000}body header nav div a{color:#f0f8ff}body section{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}body section div{width:65%}body section div div{width:70%;margin:50px 50px 0px 50px}body section div div h2{font:25px "Bebas Neue",cursive;font-size:70px;color:#271639}body section div div h3{font:18px "Patrick Hand",cursive;font-size:25px;margin:0px}body section div .sobre{position:relative;width:150%;margin:0 auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}body section div .sobre .img{width:30%}body section div .sobre .img img{width:460px;height:550px}body section div .sobre .cajita{width:70%;margin:50px;background-color:#271639;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}body section div .sobre .cajita div{width:80%;height:450px;margin:auto}body section div .sobre .cajita div h4{font:18px "Roboto Mono",monospace;font-size:20px;font-weight:bold;color:#ecf0f1}body section div .sobre .cajita div h2{font:20px "Indie Flower",cursive;color:beige;font-size:25px}body section div .sobre .cajita div div{height:50px}body section div .sobre .cajita div div a{font:18px "Patrick Hand",cursive;font-size:22px;text-align:center;display:block;background-color:#000;color:#ecf0f1;text-decoration:none;margin:60px 0 0 0;padding:20px}body section .gif{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:35%;-webkit-box-pack:right;-webkit-justify-content:right;-ms-flex-pack:right;justify-content:right}body section .gif img{width:430px;height:950px}body article{padding:50px 0px;margin:auto;width:80%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}body article div{width:25%;margin:10px;border-radius:10px}body article div img{width:100%;height:276px;border-radius:10px}body article .video{width:49%}body article .video video{border-radius:10px;width:100%}/*# sourceMappingURL=main.css.map */ick Hand", cursive;
  font-size: 22px;
  text-align: center;
  display: block;
  background-color: black;
  color: #ECF0F1;
  text-decoration: none;
  margin: 60px 0 0 0;
  padding: 20px;
}
body section .gif {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
      -ms-flex-pack: right;
          justify-content: right;
}
body section .gif img {
  width: 430px;
  height: 950px;
}
body article {
  padding: 50px 0px;
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
body article div {
  width: 25%;
  margin: 10px;
  border-radius: 10px;
}
body article div img {
  width: 100%;
  height: 276px;
  border-radius: 10px;
}
body article .video {
  width: 49%;
}
body article .video video {
  border-radius: 10px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */