//Fuentes
$FuenteNormal   : 20px 'Hubballi', cursive;
$fuenteTitulo   : 25px 'Fredoka', sans-serif;
$fuenteVarinate : 17px 'Prompt', sans-serif;

//Colores
$ColorFondoI    : #F7F9F8;
$ColorFondeII   : #282C34;
$ColorTitulos   : #CB4335;
$ColorVariante  : #2D86C0;