$fntTitulos1: 50px 'Mouse Memoirs', sans-serif;
$fntTitulos2: 16px 'Righteous', cursive;
$fntTitulo1: 20px 'Playfair Display', serif;
$fntTitulo2: 25px 'Bebas Neue', cursive;
$fntNotas1: 20px 'Square Peg', cursive;
$fntNotas2: 20px 'Indie Flower', cursive;
$fntTextos1: 18px 'Roboto Mono', monospace;
$fntTextos2: 18px 'Patrick Hand', cursive;