$FuenteNormal: 18px 'Montserrat', sans-serif;
$FuenteTitulo: 35px 'Kaisei HarunoUmi', serif;
$FuenteVariante: 17px 'Noto Sans JP', sans-serif;
$FuenteTituloV: 25px 'Fira Sans', sans-serif;

$ColorTitulo: #EBA4F4; // #C1550E #5E0B0B
$ColorNormal: #ECFEA8;
$ColorVariante: #FCBAF7;
$ColorFondo:  #B0EEE9;
$ColorText: #09080D;
