@import '_variables', '_Reg', '_nav';
.Pri{
    width: 80%;
    margin: auto;
    h1{
        font: $fuenteTitulo;
        color: $ColorTitulos;
        text-align: center;
    }
    .Caja{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-content: center;
        main{
            width: 40%;
            margin: auto;
            img{
                margin: auto;
                width: 100%;
            }
        }
        div{
            width: 60%;
            margin: auto;
            h1{
                font: $fuenteTitulo;
                color: $ColorTitulos;
                text-align: center;
            }
            video{
                display: flex;
                justify-content: center;
                margin: auto;
                width: 90%;
            }
        }
    }
}
.Sec{
    width: 80%;
    margin: auto;
    h1{
        font: $fuenteTitulo;
        color: $ColorTitulos;
        text-align: center;
    }
    main{
        width: 90%;
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        video{
            padding: 20px;
            background-color: $ColorFondeII;
            border-radius: 20px;
            width: 60%;
            margin: auto;
        }
    }
}