@import '_Variables';
#Cabeza{
    height: 140px;
    margin: 41px 0px;
    width: 100%;
    padding: 0.2px;
    background-color: $ColorVariante;
    box-shadow: 5px 1px 15px black;

    display: flex;
    align-items: center;
    justify-content: space-around;
    .Logo{
        width: 25%;
        height: 140%;
        display: flex;
        justify-content: center;
        img{
            width: 70%;
        }
    }
    nav{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: left;
        a{
            background-color: $ColorVariante;
            text-align: center;
            font: $FuenteNormal;
            font-size: 40px;
            font-weight: bold;
            text-decoration: none;                    color: $ColorFondo;
            display: block;
            transition: 0.5s;
            padding: 10px 0;
            flex-grow: 1;
            &:hover{
                border-radius: 5px;
                color: $ColorNormal;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #Cabeza{
        height: 650px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        .Logo{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        nav{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            a{
                text-align: center;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 410px){
    #Cabeza{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        .Logo{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        nav{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: center;
            a{
                text-align: center;                    width: 100%;
            }
        }
    }
}