@import '../Scss/variables';
body{
    background-color: #ECF0F1;
    margin: 0%;
    padding: 0px;
    header{
        background-color: #ECF0F1;
        margin: 0px;
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;

        position: sticky;
        z-index: 1000;
        top: 0;
        .Title{
            width: 35%;
            height: 100px;
            display: flex;
            align-items: center;
            h1{
                width: 100%;
                font: $fntTitulos1;
                margin: auto;
                a{
                    margin: 0px 0px 0px 50px;
                    font: $fntTitulos1;
                    text-decoration: none;
                    .a{
                        color: #F5BD17; 
                    }
                    .b{
                        color: #BB2115;
                    }
                    .c{
                        color: #5B70B0;
                    }
                    .d{
                        color: #271639;
                    }
                    .e{
                        color: #4EA882;
                    }
                }
            }
        }
        nav{
            width: 74%;
            display: flex;
            height: 100px;
            justify-content: right;
            align-items: center;
            a{
                margin: 10px;
                font-weight: 1800;
                font: $fntTitulos2;
                text-decoration: none;
                color: black;
                &:hover{
                    color: #271639;
                    transition: .5;
                }
            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 100px;
                background-color: black;
                a{
                    color: aliceblue;
                }
            }
        }
    }
    section{
        margin: 80px auto;
        width: 90%;
        h1{
            font: $fntTitulo2;
            color: #5B70B0;
            font-size: 35px;
        }
        p{
            padding: 15px;
            font: $fntTextos2;
            font-size: 22px;
        }
        div{
            background-color: #271639;
            padding: 40px;
            border-radius: 10px;
            h2{
                font: $fntNotas2;
                font-size: 25px;
                color: #BB2115;
                text-align: center;
            }
            div{
                padding: 0px 40px;
                display: flex;
                justify-content: space-between;
                div{
                    width: 49%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    h1{
                        font: $fntTitulo2;
                        color: #5B70B0;
                    }
                    p{
                        margin: 20px;
                        color: #ECF0F1;
                        font: $fntTextos1;
                    }
                    img{
                        width: 100%;
                        border-radius: 15px;
                        border: #21252B solid 3px;
                    }
                }
            }
        }
    }
    main{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        .text{
            background-color: #F5BD17;
            border-radius: 15px;
            width: 29%;
            margin: auto;
            .Contenedor{
                width: 90%;
                padding: 10px;
                margin: auto;
                display: flex;
                flex-direction: column;
                h3{
                    margin: 0px;
                    display: inline;
                    font: $fntTitulo2;
                    text-align: center;
                    color: #21252B;
                }
                p{
                    width: 100%;
                    font: $fntTextos2;
                    color: #4EA882;
                    text-align: center;
                }
            }
        }
        div{
            width: 49%;
            margin: auto;
            img{
                width: 80%;
                border: #21252B solid 5px;
                border-radius: 15px;
            }
        }
    }
}