@import '_Variables';
body{
    background-color: $ColorFondo;
    .Contenedor{
        width: 100%;
        article{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            .caja1{
                width: 70%;
                margin: auto;
                display: flex;
                justify-content: center;
                .mini-division{
                    text-align: center;
                    width: 90%;
                    margin: auto;
                    height: 5px;
                    background-color: $ColorNormal;
                }
            }
            .parra{
                margin: auto;
                width: 80%;
                display: flex;
                justify-content: center;
                p{
                    width: 100%;
                    text-align: center;
                    font: $FuenteNormal;
                    color: $ColorText;
                }
            }
        }
        section{
            width: 95%;
            display: flex;
            justify-content: space-around;
            margin: auto;
            a{
                width: 30%;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }    
    }               
}

@media screen and (max-width: 768px){
    .Contenedor{
        section{
            display: flex;
            justify-content: center;
            a{
                margin: 15px 0px;
                img{
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}  